@{
    ViewBag.Title = "Home Page";
}

@*jumbotron*@
<div class="jumbotron"> 
    <h1>Mony's Test Site</h1>
    <p class="lead">This is a test site to test out MVC for purposes of implementing new functionality into the core of programming skill-set</p>
    <p>
        <a href="http://youtube.com" target="_blank" class="btn btn-primary btn-lg">Youtube1</a>
        <a href="http://youtube.com" target="_blank" class="btn btn-primary btn-lg">Youtube2</a>
        <a href="http://youtube.com" target="_blank" class="btn btn-primary btn-lg">Youtube3</a>
        <a href="http://youtube.com" target="_blank" class="btn btn-primary btn-lg">Youtube4</a>
        <a href="http://youtube.com" target="_blank" class="btn btn-primary btn-lg">Youtube5</a>
        <a href="http://youtube.com" target="_blank" class="btn btn-primary btn-lg">Youtube6</a>
        <a href="http://youtube.com" target="_blank" class="btn btn-primary btn-lg">Youtube7</a>
        <a href="http://youtube.com" target="_blank" class="btn btn-primary btn-lg">Youtube8</a>

    </p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Step 1</h2>
        <p>
            Do something productive with your life?
        </p>
    </div>
    <div class="col-md-3">
        <h2>Step 2</h2>
        <p>Like make a website?</p>
    </div>
    <div class="col-md-3">
        <h2>Step 3</h2>
        <p>Profit</p>
        <ul>
            <li>Step 1: <a href="https://google.com">Google</a> </li>
            <li>Step 2: Type something good</li>
            <li>Step 3: profit?!</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Step 4</h2>
        <p>Get her to open the box.</p>
    </div>
</div>